---
import Button from "./Button.astro";
import { Image } from "astro:assets";

interface CardProps {
  imageSrc: string;
  imageAlt: string;
  title: string;
  description: string;
  buttonText: string;
  buttonLink: string;
}

const { imageSrc, imageAlt, title, description, buttonText, buttonLink } = Astro.props;
---

<div class="my-xl md:my-0 max-w-xs overflow-hidden shadow-skygge m-auto scale-100 rounded-lg">

 <!-- Billede -->
  <Image src={imageSrc} alt={imageAlt} class="md:w-full"/>

<!-- Overskrift -->
  <div class="px-m py-s">
    <div class="text-mnormalh4 md:text-normalh4 font-poppins font-bold my-s">
      {title}
    </div>

<!-- Beskrivelse -->
    <p class="text-mpnormal md:text-pnormal font-poppins">
      {description}
    </p>
  </div>

<!-- Knap -->
  <div class="mb-lg ml-5">
    <a href={buttonLink}><Button variant="secondary">{buttonText}</Button></a>
  </div>
</div>