---
import Card from "./Card.astro";
import Button from "./Button.astro";
import { Image } from "astro:assets";
import Herounit from "../assets/images/Illustration5.png";
import Event1 from "../assets/images/Event1.webp";
import Event2 from "../assets/images/Event2.webp";
import Event3 from "../assets/images/Event3.webp";
import Event4 from "../assets/images/Event4.webp";
import Event5 from "../assets/images/Event5.webp";
import Event6 from "../assets/images/Event6.webp";
import TA1 from "../assets/images/A1.webp";
import TA2 from "../assets/images/A2.webp";
import TA3 from "../assets/images/A3.webp";
import TA4 from "../assets/images/A4.webp";
import TA5 from "../assets/images/A5.webp";
import TA6 from "../assets/images/A6.webp";
import Illustration from "../assets/images/Illustration4.png";
import "../styles/global.css";
---

<!-- Hero unit -->

<section class="relative bg-brun100 md:grid md:grid-cols-2">
  <Image
    src={Herounit}
    alt="Illustration af café produkter"
    class="opacity-20 md:opacity-100 md:col-start-2 md:my-8 py-8 md:h-96 h-72 w-fit md:w-auto md:pl-52 m-auto md:m-0"
  />

  <div
    class="absolute md:col-start-1 md:col-span-1 md:mr-10 md:ml-40 mx-8 top-10 md:top-24 text-center md:text-left"
  >
    <h1
      class="font-sigurd text-mspecialh1 md:text-specialh1 text-pgron"
    >
    Arrangementer
    </h1>
    <p
      class="font-sigurd text-mspecialh4 md:text-specialh4 text-pdefault"
    >
    Find dit næste event og vær med til at gøre hverdagen lidt mere speciel
  </p>
<div class="mt-6"
>    <a href="#card"><Button variant="primary" class="p-s md:p-m">Se arrangementer</Button></a></div>

  </div>
</section>



<!-- Sektion 1 -->

<div class="mx-lg md:mx-xxl md:py-lg slide">
  <p class="font-poppins text-mnormalh4 md:text-normalh3 pt-m text-center text-pdefault font-semibold">Oplev fælleskab og bliv inspireret</p>
  <p class="font-poppins text-mpnormal md:text-pnormal pt-4 md:text-center text-left text-pdefault md:mx-56">Local By Me byder på hyggelige og nærværende arrangementer, der styrker fællesskabet. Fra fællesspisning og kreative workshops til strikkeaftener og særlige sæsonbegivenheder – her er der plads til samvær, inspiration og lokale smagsoplevelser. Hold øje med kalenderen og vær med til at skabe minder i hjertet af Musicon.</p>
</div>


<!-- Sektion 2 - Arrangementer -->
<section id="card" class="order-1 md:order-2 md:grid md:grid-cols-3 md:grid-rows-10 md:gap-xl items-center place-items-center mx-m my-m md:mx-xxl md:px-xxl md:mb-xl">
  <Card imageSrc={Event1} imageAlt="Strik & drik" title="Strik & drik" description="Så er det tid til håndarbejdsaften i caféen! Glæd dig til hyggeligt samvær, julehygge og smagsprøver på krydret gløgg og kage." buttonText="Køb billet" buttonLink="https://www.place2book.com/da/sw2/sales/8u9lse1593"/>

  <Card imageSrc={Event2} imageAlt="Fællesspisning" title="Fællesspisning" description="Den kommende mandag inviterer Local By Me til fællesspisning med Helle Skov. Glæd dig til smagsfulde retter samt hyggeligt samvær!" buttonText="Køb billet" buttonLink="https://www.place2book.com/da/sw2/sales/8u9lse1593"/>
  
  <Card imageSrc={Event3} imageAlt="Foredrag" title="Foredrag" description="Bliv inspireret til vores næste foredragsaften i caféen, hvor vi samles om spændende og relevante emner, gode samtaler og fællesskab." buttonText="Køb billet" buttonLink="https://www.place2book.com/da/sw2/sales/8u9lse1593"/>
  
  <Card imageSrc={Event4} imageAlt="Smagen af jul" title="Smagen af jul" description="Kom og oplev en aften fyldt med krydrede smagsoplevelser der får dig i julestemning, samt et hyggeligt fællesskab omkring bordet." buttonText="Køb billet" buttonLink="https://www.place2book.com/da/sw2/sales/8u9lse1593"/>

  <Card imageSrc={Event5} imageAlt="Nytårstaffel" title="Nytårstaffel" description="Start det nye år med manér til vores hyggelige nytårstaffel i caféen. Nyd en aften med festlige retter, god stemning og dejligt selskab." buttonText="Køb billet" buttonLink="https://www.place2book.com/da/sw2/sales/8u9lse1593"/>

  <Card imageSrc={Event6} imageAlt="Nørkle eftermiddag" title="Nørkle eftermiddag" description="Tag dit strikke- eller hækletøj med til caféen og nyd en hyggelig nørkle-eftermiddag med æblegløgg og gammeldags æblekage." buttonText="Køb billet" buttonLink="https://www.place2book.com/da/sw2/sales/8u9lse1593"/>
</section>

<!-- Sektion 3 - Tidligere arrangementer -->
 <section class="text-center text-pdefault pt-0 pb-m md:pt-lg md:pb-xl">
  <div class="max-w-screen-xl mx-auto px-4 text-center">
   
    <h2 class="text-mnormalh3 md:text-normalh3 font-poppins font-semibold mx-lg mb-m">Tidligere arrangementer</h2>
    
     <!-- Billeder -->
     <div class="flex justify-center gap-s">

      <div class="flex-shrink-0 md:block hidden">
        <Image src={TA1} alt="Sommerdag i caféen" class="w-auto h-64 md:h-80 object-obtain"/>
      </div>

      <div class="flex-shrink-0 md:block hidden">
        <Image src={TA2} alt="Nørkledag udenfor" class="w-auto h-64 md:h-80 object-obtain"/>
      </div>

      <!-- Dette billede vises kun på mobil -->
      <div class="flex-shrink-0">
        <Image src={TA3} alt="Sang ved Local By Me" class="w-auto h-56 md:h-80 object-obtain"/>
      </div>

      <!-- Dette billede vises kun på mobil -->
      <div class="flex-shrink-0">
        <Image src={TA4} alt="Strik & drik" class="w-auto h-56 md:h-80 object-obtain"/>
      </div>

      <div class="flex-shrink-0 md:block hidden">
        <Image src={TA5} alt="Billede af ejer og kunder" class="w-auto h-64 md:h-80 object-obtain"/>
      </div>

      <div class="flex-shrink-0 md:block hidden">
        <Image src={TA6} alt="Servering af drikkevarer" class="w-auto h-64 md:h-80 object-obtain"/>
      </div>
    </div>
  </div>
</section>


<!-- Sektion 4 - Henvisning til anden side  -->

<section class="relative bg-brun500 text-pdefault py-lg font-poppins md:grid md:grid-cols-2 md:px-xl">
  <div class="absolute md:static z-20 mx-lg md:ml-xxl md:py-lg md:col-start-1 md:row-start-1 content-center">
  <p class="text-mnormalh4 md:text-normalh4 font-semibold text-left pb-s">Se hvad vi ellers har at byde på i vores café</p>
    <p class="pb-s md:pb-m text-mpnormal md:text-pnormal">Hos Local By Me tilbyder vi en caféoplevelse fyldt med varme og hygge. Vores menu byder på hjemmelavede lækkerier, friskbrygget økologisk kaffe og sæsonens favoritter – alt sammen lavet med kærlighed og omtanke. Kom forbi og nyd en pause i en indbydende atmosfære, hvor kvalitet og lokale råvarer er i centrum.</p>
    <a href="/cafe"><Button variant="primary" class="p-s md:p-m">Se vores menukort</Button></a>
  </div>

  <div class="flex justify-center md:col-start-2">
    <Image
    src={Illustration}
    alt="Illustrationer af blandede varer"
    class="h-80 md:h-96 w-auto opacity-20 md:opacity-100"
  />
  </div>
</section>



<script>
  import { animate, stagger, inView, scroll, timeline } from "motion";

  // Animation til: Sektion 1
  const slide = document.querySelector(".slide");
  inView(slide, () => {
    slide.classList.add(
      "animate__animated",
      "animate__slideInUp",
      "animate__delay-0.8s"
    );
  });

</script>