---
import Button from "./Button.astro";
import { Image } from "astro:assets";
import Illustration from "../assets/images/Illustration4.png";
import Om1 from "../assets/images/Om1.webp";
import Om2 from "../assets/images/Om2.webp";
import Om3 from "../assets/images/Om3.webp";
import Om4 from "../assets/images/Om4.webp";
import Om5 from "../assets/images/Om5.webp";
import Om6 from "../assets/images/Om6.webp";
import Om7 from "../assets/images/Om7.webp";
import Om8 from "../assets/images/Om8.webp";
import "../styles/global.css";
---

<!-- Hero unit -->
<section class="bg-brun100 w-full py-xl">
  <div class="max-w-screen-xl mx-auto px-4 flex flex-col md:flex-row items-center justify-center">
    
    <div class="md:w-1/2 flex justify-center items-center mb-6 md:mb-0 md:order-2">
      <Image src={Illustration} alt="Billede af små konditorkager" class="w-full h-auto object-cover"/>
    </div>

    <div class="md:w-1/2 md:pr-8 md:pl-8 md:order-1 text-center md:text-left md:ml-xxl ml-0">
      <h1 class="text-mspecialh1 md:text-specialh1 text-pgron font-sigurd mb-m">Historien bag Local By Me</h1>

      <p class="text-mspecialh3 md:text-specialh3 text-pdefault font-sigurd mb-m">Stedet hvor lokalt og bæredygtigt går hånd i hånd. Tag med på rejsen bag vores historie</p>

    <a href=""><Button variant="primary">Se historie</Button></a>
    </div>
  </div>
</section>

<!-- Overordnet sektion -->
<section class="text-pdefault w-full px-xl py-xl">

  <!-- Sektion 1 -->
  <section class="max-w-screen-xl mx-auto px-lg py-lg flex flex-col md:flex-row items-center justify-center">
    
    <div class="md:w-1/2 flex justify-center items-center mb-m md:mb-0 md:order-2">
      <Image src={Om1} alt="Testbillede" class="w-full h-auto object-cover"/>
    </div>

    <div class="md:w-1/2 md:pr-8 md:pl-8 md:order-1 text-center md:text-left md:ml-xxl ml-0">
      <h2 class="text-mspecialh1 md:text-specialh1 text-pgron font-sigurd font-semibold mb-m">En drøm bliver til virkelighed</h2>
      
      <p class="text-mpnormal md:pnormal font-poppins mb-m">Local By Me er en lille virksomhed med et stort hjerte for lokale producenter, skabt og drevet af mig, Marianne. Idéen opstod ud fra en drøm om at lære mit lokalområde og dets mennesker bedre at kende.</p>

      <p class="text-mpnormal md:pnormal font-poppins mb-m">Denne mangeårige drøm blev en realitet, da jeg i oktober 2021 åbnede dørene til Local By Me i det kreative område Musicon i Roskilde.</p>
    </div>
  </section>

  <!-- Sektion 2 -->
  <section class="max-w-screen-xl mx-auto px-lg py-lg flex flex-col md:flex-row items-center justify-center">
    
    <div class="md:w-1/2 flex justify-center items-center mb-m md:mb-0 md:order-2">
      <Image src={Om2} alt="Testbillede" class="w-full h-auto object-coverr"/>
    </div>

    <div class="md:w-1/2 md:pr-8 md:pl-8 md:order-2 text-center md:text-left md:ml-xxl ml-0">
      <h2 class="text-mspecialh1 md:text-specialh1 text-pgron font-sigurd font-semibold mb-m">Hjernen bag</h2>
      
      <p class="text-mpnormal md:pnormal font-poppins mb-m">Marianne, uddannet kommis, har arbejdet som butikschef, souschef og tørvarechef i supermarkeder samt i en økologisk bager og på Herslev Bryghus. Hendes passion for blomster og erfaring fra blomsterbutikker har inspireret til at skabe Local By Me. Privat støttes hun af sin mand Mads og datteren Ea, der ofte hjælper ved arrangementer. Sammen er de en vigtig del af Local By Me’s succes.</p>
    </div>
</section>

  <!-- Sektion 3 -->
  <section class="max-w-screen-xl mx-auto px-lg py-lg flex flex-col md:flex-row items-center justify-center">
    
    <div class="md:w-1/2 flex justify-center items-center mb-m md:mb-0 md:order-2">
      <Image src={Om3} alt="Testbillede" class="w-full h-auto object-cover"/>
    </div>

    <div class="md:w-1/2 md:pr-8 md:pl-8 md:order-1 text-center md:text-left md:ml-xxl ml-0">
      <h2 class="text-mspecialh1 md:text-specialh1 text-pgron font-sigurd font-semibold mb-m">Et liv dedikeret til fællesskab</h2>
      
      <p class="text-mpnormal md:pnormal font-poppins mb-m">Marianne har været engageret i flere frivillige projekter, bl.a. som måltidsvært på Hospice i Roskilde og i Kræftens Bekæmpelses samtalekøkken. Siden 2009 har hun og Ea samlet ind til Kræftens Bekæmpelse hvert år. Som medlem af Zonta Roskilde har Marianne også arbejdet for at forbedre vilkårene for kvinder både lokalt og globalt.</p>

      <p class="text-mpnormal md:pnormal font-poppins mb-m">Local By Me er hendes måde at styrke forbindelsen mellem mennesker og de lokale produkter, der betyder så meget for os alle.</p>
    </div>
  </section>

  <!-- Sektion 4 -->
  <section class="max-w-screen-xl mx-auto px-lg py-lg flex flex-col md:flex-row items-center justify-center">
    
    <div class="md:w-1/2 flex justify-center items-center mb-m md:mb-0 md:order-2">
      <Image src={Om4} alt="Testbillede" class="w-full h-auto object-cover"/>
    </div>

    <div class="md:w-1/2 md:pr-8 md:pl-8 md:order-2 text-center md:text-left md:ml-xxl ml-0">
      <h2 class="text-mspecialh1 md:text-specialh1 text-pgron font-sigurd font-semibold mb-m">Støtte til de lokale</h2>
      
      <p class="text-mpnormal md:pnormal font-poppins mb-m">Marianne brænder for at støtte lokale leverandører, der skaber med passion og omhu. Gennem nære samtaler har hun lært dem og deres arbejde at kende, og i butikken deler hun med stolthed deres historier, mens kunderne udforsker de unikke produkter.</p>
    </div>
  </section>

  <!-- Sektion 5 -->
  <section class="max-w-screen-xl mx-auto px-lg py-lg flex flex-col md:flex-row items-center justify-center">
    
    <div class="md:w-1/2 flex justify-center items-center mb-m md:mb-0 md:order-2">
      <Image src={Om5} alt="Testbillede" class="w-full h-auto object-cover"/>
    </div>

    <div class="md:w-1/2 md:pr-8 md:pl-8 md:order-1 text-center md:text-left md:ml-xxl ml-0">
      <h2 class="text-mspecialh1 md:text-specialh1 text-pgron font-sigurd font-semibold mb-m">Rejsen mod de rette producenter</h2>
      
      <p class="text-mpnormal md:pnormal font-poppins mb-m">Marianne finder producenter til Local By Me gennem en spændende proces præget af unikke møder. Hun opsøger ofte lokale produkter på markeder, events eller i andre butikker og kontakter producenterne, når hun ser noget, der passer til butikkens værdier. Derudover modtager hun også henvendelser fra virksomheder, der ønsker deres varer inkluderet i sortimentet.</p>

      <p class="text-mpnormal md:pnormal font-poppins mb-m">Alle producenter har det til fælles, at deres varer er lokalt produceret i Danmark og opfylder høje standarder for bæredygtighed og kvalitet. Hvert produkt i butikken fortæller en historie om passion, dedikation og omsorg for miljø og mennesker. Marianne er altid åben for samarbejde med leverandører, der deler Local By Me’s kerneværdier.</p>
    </div>
  </section>

  <!-- Sektion 6 -->
  <section class="max-w-screen-xl mx-auto px-lg py-lg flex flex-col md:flex-row items-center justify-center">
    
    <div class="md:w-1/2 flex justify-center items-center mb-m md:mb-0 md:order-2">
      <Image src={Om6} alt="Testbillede" class="w-full h-auto object-cover"/>
    </div>

    <div class="md:w-1/2 md:pr-8 md:pl-8 md:order-2 text-center md:text-left md:ml-xxl ml-0">
      <h2 class="text-mspecialh1 md:text-specialh1 text-pgron font-sigurd font-semibold mb-m">Genbrug og bæredygtighed i fokus</h2>
      
      <p class="text-mpnormal md:pnormal font-poppins mb-m">Hos Local By Me er bæredygtighed og genbrug kerneværdier, som afspejles i butikkens indretning. Møblerne er fremstillet af genbrugstræ, mens servicen stammer fra Kirkens Korshær og Kræftens Bekæmpelse. Selv forklæderne er håndsyet af Fie med genbrugsduge.</p>

      <p class="text-mpnormal md:pnormal font-poppins mb-m">Marianne ønsker at skabe en butik og café, hvor bæredygtighed og det lokale er en naturlig del af helhedsoplevelsen, og hvor hvert valg understreger hendes engagement i miljøet og det nære samfund.</p>
    </div>
  </section>

  <!-- Sektion 7 -->
  <section class="max-w-screen-xl mx-auto px-lg py-lg flex flex-col md:flex-row items-center justify-center">
    
    <div class="md:w-1/2 flex justify-center items-center mb-m md:mb-0 md:order-2">
      <Image src={Om7} alt="Testbillede" class="w-full h-auto object-cover"/>
    </div>

    <div class="md:w-1/2 md:pr-8 md:pl-8 md:order-1 text-center md:text-left md:ml-xxl ml-0">
      <h2 class="text-mspecialh1 md:text-specialh1 text-pgron font-sigurd font-semibold mb-m">Innovation og nye ideer</h2>
      
      <p class="text-mpnormal md:pnormal font-poppins mb-m">Som medlem af Corolab, et centrum for partnerskaber og innovation, arbejder Local By Me's ejer Marianne aktivt med at udforske nye måder at fremme bæredygtighed og lokalforankring. Et af de spændende projekter var et "klidforsøg", hvor hun undersøgte, hvordan klid kan integreres i madlavning. Disse erfaringer lever videre i caféens bagværk, der nu indeholder klid som en sund og nærende ingrediens.</p>

      <p class="text-mpnormal md:pnormal font-poppins mb-m">Local By Me er ikke bare en butik og café; det er et samlingspunkt for værdier, lokale historier og innovation, hvor miljøbevidsthed møder kreative løsninger.</p>
    </div>
  </section>
</section>

<!-- Sektion 8 - Henvisning til anden side-->
<section class="bg-gron500 text-pdefault w-full py-xl">
    <div class="max-w-screen-xl mx-auto px-4 flex flex-col md:flex-row items-center justify-center">
      
      <div class="md:w-1/2 flex justify-center items-center mb-6 md:mb-0 md:order-2">
        <Image src={Om8} alt="Testbillede" class="w-full h-auto object-cover"/>
      </div>
  
      <div class="md:w-1/2 md:pr-8 md:pl-8 md:order-1 text-center md:text-left md:ml-xxl ml-0">
        <h2 class="text-mnormalh2 md:text-normalh2 font-poppins font-semibold mb-m">Oplev vores arrangementer</h2>
        
        <p class="text-mpnormal md:pnormal font-poppins mb-m">Udover at være en butik og café er LocalByMe et samlingspunkt for fællesskab og kreativitet. Udforsk vores kommende arrangementer og find noget, der inspirerer dig – fra workshops og foredrag til hyggelige fællesspisninger. Tag del i en oplevelse, der skaber forbindelser og minder.</p>
        
        <a href=""><Button variant="primary">Se arrangementer</Button></a>
      </div>
    </div>
  </section>