---
import Button from "./Button.astro";
import Card from "./Card.astro";
import { Image } from "astro:assets";
import Herounit from "../assets/images/Butik1.png";
import Produkt1 from "../assets/images/Butik2.webp";
import Produkt2 from "../assets/images/Butik3.webp";
import Produkt3 from "../assets/images/Butik4.webp";
import Produkt4 from "../assets/images/Butik5.webp";
import Produkt5 from "../assets/images/Butik6.webp";
import Produkt6 from "../assets/images/Butik7.webp";
import Illustration from "../assets/images/Forside6.png";
import "../styles/global.css";
---

<!-- Hero unit -->
<section class="bg-brun100 w-full py-xl">
  <div class="max-w-screen-xl mx-auto px-4 flex flex-col md:flex-row items-center justify-center">
    
    <div class="md:w-1/2 flex justify-center items-center mb-6 md:mb-0 md:order-2">
      <Image src={Herounit} alt="Billede af små konditorkager" class="w-full h-auto object-cover"/>
    </div>

    <div class="md:w-1/2 md:pr-8 md:pl-8 md:order-1 text-center md:text-left md:ml-xxl ml-0">
      <h1 class="text-mspecialh1 md:text-specialh1 text-pgron font-sigurd mb-m">Butikken</h1>

      <p class="text-mspecialh3 md:text-specialh3 text-pdefault font-sigurd mb-m">Vores butik er dedikeret til produkter skabt med kærlighed og omhu i Danmark – altid med fokus på kort afstand fra producent til kunde.</p>

      <a href=""><Button variant="primary">Shop lokalt nu</Button></a>
    </div>
  </div>
</section>

<!-- Sektion 1 -->
<section class="text-center text-pdefault py-m">
<h2 class="text-mnormalh2 md:text-normalh2 font-poppins font-semibold mb-m">Unikke varer med lokale fortællinger</h2>

<p class="text-mpnormal md:pnormal font-poppins mb-m">Local By Me har en forkærlighed for produkter, der er produceret i Danmark, og prioriterer en kort vej fra jord til bord.</p>

<p class="text-mpnormal md:pnormal font-poppins mb-m">Produkterne købes ofte direkte fra leverandørerne, hvilket giver mulighed for at lære historien bag hvert produkt at kende. Når du besøger butikken, kan du derfor ikke blot købe unikke varer, men også høre de inspirerende fortællinger om passion, håndværk og kvalitet fra de lokale producenter. Hvert produkt i butikken er nøje udvalgt for at støtte det lokale og for at skabe en tættere forbindelse mellem producent og kunde.</p>
</section>

<!-- Sektion 2 - Produkter -->
<section class="mt-mxl md:mt-xxl mx-mxxl md:mx-xxxl md:grid md:grid-cols-3 md:grid-rows-10 md:gap-xl items-center place-items-center md:mb-xxl">
  <Card imageSrc={Produkt1} imageAlt="" title="Gavekurv 1" description="Beskrivelse"/>

  <Card imageSrc={Produkt2} imageAlt="" title="Gavekurv 1" description="Beskrivelse"/>
  
  <Card imageSrc={Produkt3} imageAlt="" title="Gavekurv 3" description="Beskrivelse"/>
  
  <Card imageSrc={Produkt4} imageAlt="" title="Gavekurv 4" description="Beskrivelse"/>

  <Card imageSrc={Produkt5} imageAlt="" title="Gavekurv 5" description="Beskrivelse"/>

  <Card imageSrc={Produkt6} imageAlt="" title="Gavekurv 6" description="Beskrivelse"/>
</section>

<!-- Sektion 3 - Henvisning til anden side-->
<section class="bg-brun500 text-pdefault w-full py-xl">
  <div class="max-w-screen-xl mx-auto px-4 flex flex-col md:flex-row items-center justify-center">
    
    <div class="md:w-1/2 flex justify-center items-center mb-m md:mb-0 md:order-2">
      <Image src={Illustration} alt="" class="h-80 w-80 object-cover"/>
    </div>

    <div class="md:w-1/2 md:pr-8 md:pl-8 md:order-1 text-center md:text-left md:ml-xxl ml-0">
      <h2 class="text-mnormalh2 md:text-normalh2 font-poppins font-semibold mb-m">Kender du historien bag Local By Me?</h2>
      
      <p class="text-mpnormal md:pnormal font-poppins mb-m">Rejsen startede med en passion for lokalt håndværk og et ønske om at støtte danske producenter. Lær mere om visionen, værdierne og det fællesskab, der ligger bag vores butik og café.</p>
      
      <a href=""><Button variant="primary">Læs hele historien her</Button></a>
    </div>
  </div>
</section>