---
import Button from "./Button.astro";
import Card from "./Card.astro";
import { Image } from "astro:assets";
import Herounit from "../assets/images/Illustration3.png";
import Produkt1 from "../assets/images/Butik2.webp";
import Produkt2 from "../assets/images/Butik3.webp";
import Produkt3 from "../assets/images/Butik4.webp";
import Produkt4 from "../assets/images/Butik5.webp";
import Produkt5 from "../assets/images/Butik6.webp";
import Produkt6 from "../assets/images/Butik7.webp";
import Illustration from "../assets/images/Illustration2.png";
import "../styles/global.css";
---

<section class="relative bg-brun100 md:grid md:grid-cols-2">
  <Image
    src={Herounit}
    alt="Illustration af blandede varer"
    class="opacity-20 md:opacity-100 md:col-start-2 md:my-8 md:h-96 h-72"
  />

  <div
    class="absolute md:col-start-1 md:col-span-1 md:mr-10 md:ml-40 mx-8 top-10 md:top-24 text-center md:text-left"
  >
    <h1
      class="font-sigurd text-mspecialh1 md:text-specialh1 text-pgron"
    >
      Butikken
    </h1>
    <p
      class="font-sigurd text-mspecialh4 md:text-specialh4 text-pdefault"
    >
    Vores butik er dedikeret til produkter skabt med kærlighed og omhu i Danmark.
  </p>
<div class="mt-6"
>    <Button variant="primary" class="p-s md:p-m"><a href="#cards">Køb lokalt</a></Button></div>

  </div>
</section>


<!-- Sektion 1 -->
<div class="mx-lg md:mx-xxl md:pt-lg slide">
  <p class="font-poppins text-mnormalh4 md:text-normalh3 pt-m text-center text-pdefault font-semibold">Unikke varer med lokale fortællinger</p>
  <p class="font-poppins text-mpnormal md:text-pnormal pt-4 md:text-center text-left text-pdefault md:mx-56">Local By Me har en forkærlighed for produkter, der er produceret i Danmark,<br/>og prioriterer en kort vej fra jord til bord.<br/><br/>Produkterne købes ofte direkte fra leverandørerne, hvilket giver mulighed for at lære historien bag hvert produkt at kende. Når du besøger butikken, kan du derfor ikke blot købe unikke varer, men også høre de inspirerende fortællinger om passion, håndværk og kvalitet fra de lokale producenter. Hvert produkt i butikken er nøje udvalgt for at støtte det lokale og for at skabe en tættere forbindelse mellem producent og kunde.</p>
</div>


<!-- Sektion 2 - Produkter -->
<section id="cards" class="order-1 md:order-2 md:grid md:grid-cols-3 md:grid-rows-10 md:gap-xl items-center place-items-center mx-m my-m md:mx-xxl md:px-xxl md:mb-xl">
  <Card imageSrc={Produkt1} imageAlt="Wellness kurv" title="Wellness kurven" description="Forkæl dig selv eller en du holder af, med en wellness kurv fyldt med selvforkælelse, fantastiske dufte og ro til både krop og sjæl." buttonText="Se kurvens indhold"
  buttonLink="/produkt"
  />

  <Card imageSrc={Produkt2} imageAlt="Tapas kurv" title="Tapas kurven" description="En smagfuld kurv med blandede  lækkerier, der sætter stemningen til en hyggelig tapas aften, for både dig og dine nærmeste." buttonText="Se kurvens indhold" buttonLink="/produkt"/>
  
  <Card imageSrc={Produkt3} imageAlt="Gin kurv" title="Gin kurven" description="Den perfekte kurv til gin-elskeren. Gin kurven er spækket med alt, hvad der skal til for at skabe smagfuld drinks til alle begivenheder." buttonText="Se kurvens indhold" buttonLink="/produkt"/>
  
  <Card imageSrc={Produkt4} imageAlt="Julehygge kurv" title="Julehygge kurven" description="Den perfekte julekurv til at sprede varme, gode dufte og julestemning hos dig og dine nærmeste. Kurven er derfor ideel til hyggelige julestunder." buttonText="Se kurvens indhold" buttonLink="/produkt"/>

  <Card imageSrc={Produkt5} imageAlt="Guld jul" title="Guld jul" description="Kurven er fyldt op med ren julestemning, og alt hvad du skal bruge til den perfekte gløgg, så man kan holde sig varm i juledagene." buttonText="Se kurvens indhold" buttonLink="/produkt"/>

  <Card imageSrc={Produkt6} imageAlt="Pink jul" title="Pink jul" description="En moderne og farverigt twist på juleklassikeren. Denne pink kurv er fyldt med julestemning, gløgg og lækre snacks til den festlige tid." buttonText="Se kurvens indhold" buttonLink="/produkt"/>
</section>
</div>

<!-- Sektion 3 - Henvisning til anden side -->

<section class="relative bg-brun500 text-pdefault py-lg font-poppins md:grid md:grid-cols-2 md:px-xl">
  <div class="absolute md:static z-20 mx-lg md:ml-xxl py-m md:py-lg md:col-start-1 md:row-start-1 content-center">
  <p class="text-mnormalh4 md:text-normalh4 font-semibold text-center md:text-left pb-s">Kender du historien bag Local By Me?</p>
    <p class="pb-s md:pb-m text-mpnormal md:text-pnormal">Rejsen startede med en passion for lokalt håndværk og et ønske om at støtte danske producenter.<br/><br/>Lær mere om visionen, værdierne og det fællesskab, der ligger bag vores butik og café.</p>
    <Button variant="primary" class="p-s md:p-m"><a href="/om">Læs hele historien her</a></Button>
  </div>

  <div class="flex justify-center md:col-start-2">
    <Image
    src={Illustration}
    alt="Illustrationer af juleting"
    class="h-80 md:h-96 w-auto opacity-20 md:opacity-100"
  />
  </div>
</section>








<script>
  import { animate, stagger, inView, scroll, timeline } from "motion";

  // Animation til: Sektion 1
  const slide = document.querySelector(".slide");
  inView(slide, () => {
    slide.classList.add(
      "animate__animated",
      "animate__slideInUp",
      "animate__delay-0.8s"
    );
  });

</script>



