---
import { Image } from "astro:assets";
import Button from '../components/Button.astro';

export interface Props {
  title: string;
  description: string;
  buttonText: string;
  buttonType: 'primary' | 'secondary';
  image: { src: string; alt: string };
  layout?: 'image-left' | 'image-right'; // Dette gør at man frit kan vælge layout
}

const { title, description, buttonText, buttonType = 'primary', image, layout = 'image-left' } = Astro.props;
---
<div class={`flex flex-col ${layout === 'image-left' ? 'md:flex-row' : 'md:flex-row-reverse'} items-center gap-6 p-4`}>
  <!-- Billede -->
  <div class="w-full md:w-1/2">
    <Image src={image.src} alt={image.alt} class="object-cover w-full h-48 md:h-auto" />
  </div>
  
  <!-- Tekstindhold -->
  <div class="text-pdefault w-full md:w-1/2">
    <h3 class="text-mnormalh3 md:text-normalh3 font-poppins font-semibold mb-s">{title}</h3>
    <p class="text-mpnormal md:pnormal mb-m">{description}</p>
    <a href=""><Button variant={buttonType}>{buttonText}</Button></a>
  </div>
</div>
